@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
    margin: 0;
    background-color: rgb(240, 220, 240);
    font-family: "Poppins", sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu-div {
    flex: 1;
    flex-basis: 15%;
    padding-top: 10%;
}
.canv-div {
    flex: 1;
    flex-basis: 25%;
    background-color: brown;
}
.timer-div {
    flex: 1;
    flex-basis: 15%;
    padding-top: 10%;
}
#startBtn {
    background-color: #008cba;
    border: none;
    border-radius: 30px;
    padding: 15px 64px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    max-width: 25vw;
    margin-bottom: 5vh;
}
#startBtn:hover {
    cursor: pointer;
}

#endGame {
    position: absolute;
    min-width: 50%;
    min-height: 30%;
    margin-top: -30vh;
    margin-left: -25vw;
    top: 50%;
    left: 50%;
    flex-direction: column;
    justify-content: stretch;
    background-color: white;
    border: 1px solid black;
    align-items: center;
}

#scoreEl,
#timerEl {
    font-size: 60;
}

canvas {
    border-style: solid;
    border-width: 1px;
    background-color: rgb(187, 187, 187);
    opacity: 70%;
}

h1,
p {
    margin: 0;
}
